@using System.Collections.ObjectModel;
@using System.Reactive.Subjects;
@using System.Reactive.Linq;
@using System.Collections.Specialized;
@using System.Reactive;
@using KangarooNet.Domain.Entities;
@using KomberNet.UI.WEB.Framework.Pages;

@inherits BodyBase

@typeparam TEntityHandlerRequest
@typeparam TEntityHandlerResponse
@typeparam TEntity

@{
    base.BuildRenderTree(__builder);
}

<RadzenCard>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-auto">

                @{
                    var allActionButtons = this.EntityFormPage.ActionButtons.OrderBy(x => x.Sequence).ToList();
                    var firstThreeActionButtons = allActionButtons.Take(3);

                    foreach (var actionButton in firstThreeActionButtons)
                    {
                        <RadzenButton Text="@actionButton.Text"
                                      Visible="@actionButton.IsVisible"
                                      ButtonStyle="@Radzen.ButtonStyle.Primary"
                                      Disabled="@(!actionButton.IsEnabled)"
                                      Click="@actionButton.OnExecute" />
                    }

                    var moreActionButtons = allActionButtons.Skip(3);

                    if (moreActionButtons.Any())
                    {
                        <RadzenSplitButton Text="@this.Localizer["Button_MoreOptions"]" ButtonStyle="Radzen.ButtonStyle.Primary">

                            @foreach (var actionButton in moreActionButtons)
                            {
                                <RadzenSplitButtonItem Text="@actionButton.Text"
                                                       Visible="@actionButton.IsVisible"
                                                       Disabled="@(!actionButton.IsEnabled)"
                                                       onclick="@actionButton.OnExecute" />
                            }

                        </RadzenSplitButton>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <hr />
            </div>
        </div>

        <RadzenAccordion Multiple="true">
            <Items>
                @FieldsArea
            </Items>
        </RadzenAccordion>

    </div>
</RadzenCard>